/* @keyframes showBloc {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

@keyframes downHeader {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes upMain {
  from {
    transform: translateY(100px);
    border-top: solid 2px var(--article-border-color);
  }

  99% {
    border-top: solid 2px var(--article-border-color);
  }

  to {
    border-top: none;
    transform: translateY(0);
  }
}
